*{
   box-sizing:border-box;
   padding: 0;
   margin: 0;
 }
.picOne{
   width: 50vh;
   height: 30vw;
}
.sectionOne{
   border: solid rgba(14, 182, 19, 0.555) 5px;
   margin-top: 20px;

   
}
.phonePic{
   display: none;
}

.main{
   margin: 0;  
   background-color: rgb(255, 251, 251);
}
.textDiv{
   margin-top: 40px;
   margin-left: 55px;
   margin-left: 30px;
}
@media screen and (max-width: 600px){
   
 .carosel{
 display: none;
 } 
 .phonePic{
   display: block;
   width: 390px;
   height: 200px;
 }
 .sectionOne{
   flex-direction: column-reverse;
   border:medium;

 }
 
 .picOne{
   width: 340px;
   height: 300px;
}
.main{
   background-color: rgb(87, 81, 81);
}

};
