
.picOne{
   width: 50vh;
   height: 15vw;
}
.sectionOne{
   border: solid rgba(70, 66, 66, 0.555) 5px;
   background-color: rgba(3, 3, 3, 0.822); 
   margin: 8px;
   
}
.main{
   background-image:url(imags/37f0a1dae8a6050415ad85f217f259b6--mind-tricks-psychedelic-art.jpg); 
   background-attachment: fixed;
   background-position: center;
   margin: 0; 
   /* background-color: rgba(32, 31, 31, 0.466); */
}
