
.picOne{
   width: 50vh;
   height: 30vw;
}
.sectionOne{
   border: solid rgba(14, 182, 19, 0.555) 5px;
   /* background-color: rgba(23, 83, 37, 0.822);  */
   margin: 8px;
   
}

.main{
   margin: 0; 
   background-color: rgb(255, 251, 251);
}
.textDiv{
   margin-top: 40px;
   margin-left: 55px;
   margin-left: 30px;
}
@media screen and (max-width: 600px){
   
 .carosel{
 display: none;
 } 
 
 .picOne{
   width:100%;
}
.main{
   background-color: rgb(87, 81, 81);
}
.sectionOne{
   border:medium;
   margin: 8px;
   display: block;

}
};
