.card img{
height: 350px;
}
.card p :hover{
    background-color: rgb(129, 175, 175);
}
.card{
    width: 300px;
    background-color: rgb(221, 232, 221);
    margin-top: 30px;
    margin-left: 30px;
    margin-right: 80px;
    display: flex;
    align-content: space-between;
    flex-wrap: wrap;
    align-items: baseline;
    flex-direction: row-reverse;
    justify-content: space-around;
} 
.myMAIN{
    background-color: rgba(0, 0, 0, 0.301);
}
.fstivalbtn{
    width: 300px;
}


