.card img{
height: 350px;
}
.card p :hover{
    background-color: rgb(129, 175, 175);
}
.card{
    width: 300px;
    background-color: rgb(221, 232, 221);
    margin-top: 30px;
    margin-left: 30px;
    margin-right: 80px;
    display: flex;
    align-content: space-between;
    flex-wrap: wrap;
    align-items: baseline;
    flex-direction: row-reverse;
    justify-content: space-around;
    padding-top: 25px;
    padding-left: 10px;
    padding-right: 1;
} 
.myMAIN{
    background-color: rgba(0, 0, 0, 0.301);
}

.front {
    -webkit-transform: perspective(600px)rotateY(0deg);
    transform: perspective(600px)rotateY(0deg);
}
.back{
    background: rgb(221, 232, 221);
    transform: perspective(600px)rotateY(180deg);
    opacity: 0;
    position: absolute;
    
    

}
.front,.back{
    width: 100%;
    height: 100%;
    overflow: hidden;
    backface-visibility: hidden;
    /* position: absolute; */
    transition:  transform .6s linear;
}
.card:hover > .front{
    transform: perspective(600px)rotateY(-180deg);
}
.card:hover > .back{
    transform: perspective(600px)rotateY(0deg);
    opacity: 1;
}



