* {
    box-sizing: border-box;
    padding: 0;
  }

  button {
    padding: 9px 25px;
    background-color: rgba(0, 136, 169, 1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
  }
  

  
  #main {
    grid-area: main;
    display: flex;
    align-items: center;
    border: 1px solid black;
    justify-content: space-around;
    height: 130vh;
    background-color: rgb(239, 240, 235);

    /* background-image:  linear-gradient(rgba(75, 231, 54, 0.831),rgba(0,0,0,0.75)); */
  }
  .mane {
    background-color: rgb(0, 0, 0, 0.5);
    width: 800px;
    border-radius: 15px 15px 0px 0px;
    color: #e5e5e5;
  }
  form {
    padding: 10px;
  
  }
  #name {
    margin-left: 25px;
    margin-top: 40px;
    width: 125px;
    color: white;
    font-size: 18px;
    font-weight: 700;
  }
  .firstName {
    position: relative;
    left: 175px;
    top: 5px;
    line-height: 40px;
    width: 480px;
    border-radius: 6px;
    padding: 0 22px;
    font-size: 16px;
    color: #555;
  }
  .firstladel {
    position: relative;
    text-transform: capitalize;
    font-size: 14px;
    left: -21px;
    top: -35px;
    color: rgb(250, 246, 246);
    font-size: 23px;
    font-weight: bold;
  }
  .lastName{
    position: relative;
    left: 175px;
    top: 15px;
    line-height: 40px;
    width: 480px;
    border-radius: 6px;
    padding: 0 22px;
    font-size: 16px;
    color: #555;
  }
  .phon-label{
    position: relative;
    color: #e5e5e5;
    text-transform: capitalize;
    font-size: 14px;
    left: 4px;
    top: -20px;
    color: rgb(245, 241, 241);
    font-size: 23px;
    font-weight: bold;
  }
  .lestLabel {
    position: relative;
    color: #e5e5e5;
    text-transform: capitalize;
    font-size: 14px;
    left: -21px;
    top: -20px;
    color: rgb(252, 244, 244);
    font-size: 23px;
    font-weight: bold;
  }
  
  .email {
    position: relative;
    left: 200px;
    top: -53px;
    line-height: 40px;
    width: 480px;
    border-radius: 6px;
    padding: 0 22px;
    font-size: 16px;
  }
  .num {
    position: relative;
    left: 200px;
    top: -80px;
    line-height: 40px;
    width: 480px;
    border-radius: 6px;
    padding: 0 22px;
    font-size: 16px;
    color: #555;
  }
  
  #seand-btr{
    background-color: rgba(0, 136, 169, 1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
  }
  .contactUs{
      width: 800px;
      background-color: rgb(0,0,0.5,0.70);
      padding: 10px 0px 10px 0px;
      text-align: center;
      border-radius: 15px 15px 0px 0px;
      margin-top: -10px;
      margin-left: -10px;
      color: #e5e5e5;
   }

  @media screen and (max-width: 600px) {

    button {
      color: black;
      background-color: black;
    }
    #main {
      width: 99%;
      height: 100%;
    }
    #myFORM{
      height: 537px;
    }
   
    .mane{
      width: 404px;
      height: 90%;
    }
    .num{
      width: 250px;
      top:85px;
      left: 70px;
    }
    .email{
      width:250px;
      top:55px;
      left: 70px;
    }
    .lastName{
      width: 250px;
      top:35px;
      left: 45px;
     }
    .firstName {
      width: 250px;
      left: 45px;
    }
    .contactUs{
      width: 500px;
    }
    .firstladel{
      display: none;
    }
    .lestLabel{
      display: none;
    }
    
    .phon-label{
      display: none;
    }
    .name{
      display: none;
    }
    #seand-btr{
    display: block;
    margin-top: 100px;
    margin-left: 145px;
    }
    .contactUs{
      width:404px;
    }
    * {
      margin: 0;
    }

  }