
#maintabs {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: rgba(112, 113, 112, 0);
  color: rgba(0, 0, 0, 0.671);
  font-size: large;
}
.card {
  width: 300px;
  height: 380px;
  display: flex ;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  border: solid 3px rgba(0, 0, 0, 0.555);
  /* justify-content:center; */
  margin: auto;
  margin-top: 15px;
  background-color: rgba(240, 128, 128, 0);
  font-weight: 600;
  
}
.card img{
  display: block;
  height: 150px;
  width: 220px;
}
#container {
  display: flex;
  flex-wrap: wrap;
  margin-top: 60px;
}
@media screen and (max-width: 600px) {
  #phonePic{
    margin-top: -336px;
    margin-left: 227px;
  }
  #maintabs{
    display: flex;
    justify-content: center;
    width: fit-content;
    margin-top: 6vh;
  }
  .card{
    min-width: 350px;
      height: 310px;
      display: flex;
      flex-direction: column;
      border: solid 3px black;
      justify-content: left;
      margin-left: 40px;
      margin-top: 30px;
  }
  .card img{
    /* display: block; */
    display: flex;
    height: 100px;
    width: 150px;
  }

  }